* { margin: 0; padding: 0; }

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding-top: 2em;
}

.color1 {
  background: #182134 url("../img/bg.svg") no-repeat center center fixed;
  background-size: cover;
  background-position: center -300px;
  color: #FFF;
}

.color2 {
  background-color: #F0F8A0;
  color: #182134;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}
